.Shops{
    width: 1400px;    
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
}
.Shop__Box{
    
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 15px;
        padding-right: 15px;
    border: 1px solid #1D1F22;
    border-radius: 20px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.Shop__List{
    margin-top:50px;
    display:flex;
    flex-direction: column;
}
.Shop__Item{
width :200px;
display: flex;
align-items: center;
justify-content: center;
padding-top: 30px;
padding-bottom: 30px;
border: 1px solid #1D1F22 ;
border-radius: 10px;
}
.Shop__Item:hover{
    text-decoration: underline;
}
.Shop__Item:not(:last-child){
    margin-bottom: 20px;
}
.Shop__Name{
    width: auto;
     
}

.Product__box{
       
    width: 900px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid #1D1F22;
    border-radius: 20px;
    /* display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; */
    margin-left: 50px;
}
.Product__List{
    max-height: 500px;
        overflow-y: scroll;
    flex-wrap: wrap;
    display: flex;
        margin-left: -50px;
        margin-top: -30px;
    
}
.Product__Item{

    margin-left: 60px;
    margin-top: 30px;
    width: 400px;
    display: flex;
        align-items: center;
        justify-content: center;
            flex-direction: column;
        padding-top: 30px;
        padding-bottom: 30px;
        border: 1px solid #1D1F22;
        border-radius: 10px;
}
.Product__Item:hover{
    box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
}
.Product__Description{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.Product__Description__Item{
    display: flex;
    align-items: center;
}
.Product__Description__Item:not(:last-child){
    margin-bottom: 20px;
}
.Product__Description__Size{

}